:root {
  --mian-background-color: #191919;
  --background-color-19: #191919;
  --text-color: #fff;
  --background-for-gradient: rgb(59, 29, 46);
  --background-gradient: linear-gradient(115deg,
      rgb(20 15 18) 0%,
      rgba(31, 30, 51, 1) 100%);
  --background-for-sidebar: linear-gradient(115deg,
      rgb(20 15 18) 0%,
      rgba(31, 30, 51, 1) 100%);
  --sidebar-links-background: linear-gradient(115deg,
      rgb(20 15 18) 0%,
      rgba(31, 30, 51, 1) 100%);
  --sidebar-links-text-color: #fff;
  --table-border-color: #fff;
  --link-color: #FF1FAA;
  --end-footer-color: #191919;
  --respose-background-color: #fff;

  --theme-toggle-btn-bg: #fff;
  --theme-toggle-btn-text: #000;
}

.darkMode {
  --mian-background-color: #fff;
  --background-color-19: #fff;
  --text-color: #000;
  --background-for-gradient: rgb(255, 255, 255);
  --background-gradient: #F2EEFB;

  --background-for-sidebar: #F2EEFB;
  --sidebar-links-background: #d9cdf5;
  --sidebar-links-text-color: #000;
  --table-border-color: #000;
  --link-color: #5229A3;
  --end-footer-color: #fff;
  --respose-background-color: #F2EEFB;

  --theme-toggle-btn-bg: #000;
  --theme-toggle-btn-text: #fff;
}

#themeToggle {
  position: fixed;
  top: 15px;
  right: 25px;
  z-index: 9;
  background: var(--theme-toggle-btn-bg);
  color: var(--theme-toggle-btn-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}

.cAMyfw {
  color: var(--text-color) !important;
}

.gaTxIt {
  border-color: var(--table-border-color) !important;
}

.sc-eWnToP {
  background-color: var(--background-color-19) !important;
  color: var(--text-color) !important;
}

.hqgvLZ {
  background: var(--background-for-sidebar) !important;
}

.hEydLL a,
.hEydLL a:visited,
.hEydLL a:hover {
  background: var(--end-footer-color) !important;
}

.hLpUhH {
  background: var(--sidebar-links-background) !important;
  color: var(--sidebar-links-text-color) !important;
}

.emrRcd {
  background-color: var(--background-color-19) !important;
}

.fkfFYQ {
  background-color: var(--background-color-19) !important;
}

.bCTehv {
  color: var(--text-color) !important;
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important;
}

.emrRcd {
  color: var(--text-color) !important;
}

.bpmBWn {
  color: var(--text-color) !important;
  border: 1px solid var(--text-color) !important;
}

.jcAmZH {
  background-color: var(--respose-background-color) !important;
}

.khIKSp {
  background-color: var(--respose-background-color) !important;
}

.jdxQrI>.react-tabs__tab-panel {
  /* background-color: var(--background-color-19) !important; */
}

.bCOLCR {
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important;
}

.fTsuzH {
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important;
}

.eCnHhM {
  background: var(--sidebar-links-background) !important;
  color: var(--sidebar-links-text-color) !important;
}

.iPPdF {
  padding: 0.9em !important;
  padding-top: 20px !important;
}

.bFIVui {
  top: 0px;
}

.hEydLL a,
.hEydLL a:visited,
.hEydLL a:hover {
  color: var(--text-color) !important;
}

.iZJLLY {
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important;
  color: var(--text-color) !important;
}

.cDPDUw {
  color: var(--text-color) !important;
}

.dmLkmF {
  color: var(--text-color) !important;
}

.kudwlS {
  color: var(--text-color) !important;
}

.kfOTos {
  color: var(--text-color) !important;
}

.dYAYxd {
  color: var(--text-color) !important;
}

/* Main Backgound Class */
.sc-hKFxyN {
  background-color: var(--mian-background-color) !important;
}

.fgRoXk {
  background-color: var(--background-color-19) !important;
  color: var(--text-color) !important;
}

.kfOTos {
  color: var(--text-color) !important;
}

.dYAYxd a {
  color: var(--link-color) !important;
}

.kudwlS {
  color: var(--text-color) !important;
}

.iupIzr {
  color: var(--text-color) !important;
}

.jVZBMd {
  color: var(--text-color) !important;
}

.hrCtnr {
  color: var(--text-color) !important;
}

.lRfdj {
  color: var(--text-color) !important;
}