:root {
  --pastel-green: #d2e7d6;
  --pastel-green-secondary: #00a84e;
  --pastel-blue: #94b5e3;
  --pastel-purple: #b9c3fc;
  --pastel-active: #ffdf82;
  --text-color-dark-green: #3b4a3f;

  --navbar-bg-color: var(--pastel-green);
  --navbar-item-bg-color-hover: var(--pastel-active);
  --navbar-item-bg-color-active: var(--pastel-active);
  --navbar-border-color: var(--pastel-purple);
  --search-trigger-border-color: var(--pastel-purple);
  --search-input-placeholder-color: var(--pastel-purple);

  --sidebar-bg-color: var(--pastel-blue);
  --menu-item-bg-color-hover: var(--pastel-active);
  --menu-item-bg-color-active: var(--pastel-active);

  --toc-bg-color: var(--pastel-blue);
  --toc-border-color: var(--pastel-purple);

  --text-color-secondary: var(--text-color-dark-green);
  --link-color-primary: var(--pastel-green-secondary);
  --link-color-visited: var(--pastel-purple);

  --spacing-unit: 6px;

  --mian-background-color: #191919;
  --background-color-19: #191919;
  --text-color: #fff;
  --background-for-gradient: rgb(59, 29, 46);
  --background-gradient: linear-gradient(
    115deg,
    rgb(20 15 18) 0%,
    rgba(31, 30, 51, 1) 100%
  );
}

.darkMode {
  --mian-background-color: #dde6ed;
  --background-color-19: #fff;
  --text-color: #000;
  --background-for-gradient: rgb(157, 178, 191);
  --background-gradient: linear-gradient(
    115deg,
    rgba(157, 178, 191, 1) 0%,
    rgba(82, 109, 130, 1) 100%
  );
}

:root.dark {
  --pastel-green-dark: #728576;
  --pastel-green-secondary: #00a84e;
  --pastel-blue-dark: #2f4858;
  --pastel-purple: #b9c3fc;
  --pastel-active-dark: #386c5f;
  --text-color-light-grey: #ecfeef;

  --navbar-bg-color: var(--pastel-green-dark);
  --navbar-item-text-color-active: var(--pastel-green-dark);
  --navbar-item-text-color-hover: var(--pastel-green-dark);
  --navbar-item-bg-color-hover: var(--pastel-green);
  --navbar-item-bg-color-active: var(--pastel-green);

  --sidebar-bg-color: var(--pastel-blue-dark);
  --menu-item-color-active: var(--pastel-green-dark);
  --menu-item-color-hover: var(--pastel-green-dark);
  --menu-item-bg-color-active: var(--pastel-green);
  --menu-item-bg-color-hover: var(--pastel-green);
  --toc-bg-color: var(--pastel-blue-dark);

  --text-color-secondary: var(--text-color-light-grey);
}

#themeToggle {
  position: fixed;
  top: 15px;
  right: 25px;
  z-index: 9;
  background: var(--background-gradient);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}

.sc-eWnToP {
  background-color: var(--background-color-19) !important;
  color: var(--text-color) !important;
}

.hqgvLZ {
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important ;
}

.hEydLL a,
.hEydLL a:visited,
.hEydLL a:hover {
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important ;
}

.hLpUhH {
  color: var(--text-color) !important;
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important;
}

.emrRcd {
  background-color: var(--background-color-19) !important;
}

.fkfFYQ {
  background-color: var(--background-color-19) !important;
}

.bCTehv {
  color: var(--text-color) !important;
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important ;
}

.emrRcd {
  color: var(--text-color) !important;
}

.bpmBWn {
  color: var(--text-color) !important;
  border: 1px solid var(--text-color) !important;
}

.jcAmZH {
  background-color: var(--text-color) !important;
}

.khIKSp {
  background-color: var(--text-color) !important;
}

.jdxQrI > .react-tabs__tab-panel {
  /* background-color: var(--background-color-19) !important; */
}

.bCOLCR {
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important ;
}

.fTsuzH {
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important ;
}

.eCnHhM {
  color: var(--text-color) !important;
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important ;
}

.iPPdF {
  padding: 0.9em !important;
  padding-top: 20px !important;
}

.bFIVui {
  top: 0px;
}

.hEydLL a,
.hEydLL a:visited,
.hEydLL a:hover {
  color: var(--text-color) !important;
}

.iZJLLY {
  background: var(--background-for-gradient) !important;
  background: var(--background-gradient) !important ;
  color: var(--text-color) !important;
}

.cDPDUw {
  color: var(--text-color) !important;
}

.dmLkmF {
  color: var(--text-color) !important;
}

.kudwlS {
  color: var(--text-color) !important;
}

.kfOTos {
  color: var(--text-color) !important;
}

.dYAYxd {
  color: var(--text-color) !important;
}

/* Main Backgound Class */
.sc-hKFxyN {
  background-color: var(--mian-background-color) !important;
  /* background-color: #dde6ed !important; */
}

.fgRoXk {
  background-color: var(--background-color-19) !important;
  color: var(--text-color) !important;
}

.kfOTos {
  color: var(--text-color) !important;
}

.dYAYxd a {
  color: pink !important;
}

.kudwlS {
  color: var(--text-color) !important;
}

.iupIzr {
  color: var(--text-color) !important;
}

.jVZBMd {
  color: var(--text-color) !important;
}

.hrCtnr {
  color: var(--text-color) !important;
}

.lRfdj {
  color: var(--text-color) !important;
}
